@charset "UTF-8";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: #fff;
  background: #222;

  &__text {
    margin: 0;
    font-size: 1.3rem;
  }
}
