@charset "UTF-8";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: #222;

  &__link {
    display: inline-block;
  }

  &__title {
    color: #fff;
    font-size: 2rem;

    @include sp {
      font-size: 1.8rem;
    }
  }
}
