@charset "UTF-8";

.search-form {
  display: flex;
  justify-content: center;

  &__input {
    box-sizing: border-box;
    width: 500px;
    height: 60px;
    padding: 0 10px;
    font-size: 2.3rem;
    line-height: 60px;
    border: solid 1px #ddd;
  }

  &__button {
    box-sizing: border-box;
    width: 120px;
    height: 60px;
    font-size: 1.6rem;
    background: transparent;
    border: solid 1px #ddd;
    border-left: none;
  }
}
