@charset "UTF-8";

.search-result {
  margin: 30px auto 0;
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
}

.video-item {
  flex: 0 0 calc(25% - 15px);
  width: calc(25% - 15px);
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 1.4;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &__link {
    display: block;
  }

  &__thumb {
    overflow: hidden;
  }

  &__thumb-image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__meta {
    margin: 0 12px;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__channel-name {
    color: #444;
    font-size: 1.3rem;
  }

  &__date {
    margin-top: 5px;
    color: #444;
    font-size: 1.3rem;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  &__link {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 20px;
    line-height: 50px;
    text-align: center;
    border: solid 1px #ddd;
  }
}
