@charset "UTF-8";

@import 'reset';

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-top: 10px;
}

.svg-symbol {
  display: none;
}

@import './components/header';
@import './components/pages';
@import './components/loader';
@import './components/search-form';
@import './components/search-result';
@import './components/player';
